@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.signin_typography{color: black;font-family:Roboto;font-size:20px;color: rgb(15, 17, 17);}
.typography2{color: black;font-family:Roboto;font-weight: bold;font-size:14px;color:rgb(15, 17, 17)}
.input{width:290px;height: 30px;border-radius: 3px;border: solid gray 0.5px;margin-bottom: 10px;}
.button_continue{background-color:rgb(255, 216, 20);padding: 8px;border: none;
border-radius: 20px;width:290px;margin-top: 5px;cursor: pointer;color:black;font-size:14px;
}
.img_logo{width:110px ;margin-left: 120px;}
.borderDiv{border: solid rgb(231, 231, 231) 1px;padding: 15px;margin-bottom: 50px;}
.condition{color: rgb(15, 17, 17);font-family:Roboto;
 font-size: 13px; line-height: 18px;width: 290px;

}
.condition_a{line-height: 16px;color:rgb(33, 98, 161);font-family:Roboto;text-decoration: underline;cursor: pointer;}
.help{color:rgb(33, 98, 161);font-family:Roboto;text-decoration: underline;cursor: pointer;font-size:13.5px ;}
.small_div{margin-top: 30px;border-top: solid rgb(199, 195, 195) 1px;}
.small_div_p{color: rgb(15, 17, 17);font-family:Roboto;font-weight: bold;
 font-size: 14px; 
}
.small_div_a{color:rgb(33, 98, 161);font-family:Roboto;cursor: pointer;font-size:14px ;}

.footer_login{
position:fixed;
bottom: 0;left:0;right:0;height:145px;


}
.footer_login1_a{font-size: 12px;color:rgb(33, 98, 161);font-family:Roboto;cursor: pointer;margin-right: 22px;}
.footer_login1{display: flex;align-items: center;justify-content: center;}

.footer_login2{display: flex;align-items: center;justify-content: center;}
.footer_login2_p{color: rgb(86, 89, 89);font-size: 12px;margin-right:25px ;}
.footer_login{border-top: solid rgb(199, 195, 195) 1px; ;}

