@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.body{margin-right:0px;margin-left: 0px;overflow-x: hidden;}

.App {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;


  
}
.App2 {
  font-family: Arial, Helvetica, sans-serif;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container_row1{
  
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
background-color:transparent;
width: 100vw;
column-gap: 10px;


}

.container_row2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
background-color:transparent;
column-gap: 10px;
row-gap: 10px;
border-top:solid  rgb(235, 227, 227)20px ;

}


.positionRelative{position: relative;}
.container_row1_1{background-color: white;padding: 10px;width: 300px;
height: 390px;}

.container_row1_1_p{color:rgb(15, 17, 17);
font-family: Roboto;font-size: 21px;font-weight: 700;;margin-bottom: 5px; 

}


.container_row1_1_column{display:grid;grid-template-columns:1fr 1fr;height: 300px;}
.container_row1_3_column{display:grid;grid-template-columns:80px 80px 40px;height: 150px;}
.container_row1_1_column1_img{width:145px;;cursor: pointer;}
.container_row1_1_column1_p{color:rgb(15, 17, 17);
cursor: pointer;font-size: 12px;
font-family: Roboto;
line-height: 18px;
margin-top: -4px;

}
.card_last_p1{color:rgb(33, 98, 161) ;cursor: pointer;
font-weight: Roboto;font-size: 13px;line-height: 16.90px;margin-top: -10px;
}
.card_last_p{color:rgb(33, 98, 161) ;cursor: pointer;
font-weight: Roboto;font-size: 13px;line-height: 16.90px;
}
.card_last_p:hover{color:rgb(17, 52, 87) ;}
.card_last_p1:hover{color:rgb(17, 52, 87) ;}

.container_row1_1_column2_img{
  width:300px;
  padding-left:5px ;
  padding-right:5px;
}
.container_row1_1_column3_img{width:290px ;height: 120px;}

.main_body{background-color: rgb(235, 227, 227);}

.relative_for_slider_row2{
  width: 100vw;display: flex;flex-direction: column;
}
.relative_for_slider_p{color:rgb(15, 17, 17);
font-family: Roboto;
font-size: 21px;font-weight: 700; margin-bottom: -10px;text-align: left;}

@media screen and (width<600px) {
 .relative_for_slider_p{font-size: 15px;} 
.container_row1_1_p{font-size: 15px;}
}