

p{color: white;font-family: Roboto;}
a{text-decoration: none;font-family: Roboto;color: white;}
.all-products-container{margin-top:0px;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr ;
}
@media(max-width:800px){.all-products-container{margin-top:0px;display: grid;grid-template-columns:1fr 1fr 1fr ;}}
.product-container{border: solid rgb(231, 231, 231) 1px;padding: 15px;}
.product-img{width:150px;height:150px;margin-left:10px ;object-fit: contain;}
.product-name{color: black;font-size:14px;height:30px ;}
.horizontal_star-rating{display: grid;grid-template-columns:1fr 1fr ;}
.product-rating-pic{width:90px ;}
.product-rating-num{color: rgb(1, 124, 182);vertical-align: top;font-size:15px;margin: 0px;margin-left: 5px;}

.vertical-last-div{display: grid;grid-template-columns: 1fr;}
.product-price{color: black;font-weight: bold;font-size: 14px;}
.horizontal_select{width: 40px;}
.button-add-to-cart{background-color:rgb(255, 216, 20);padding: 7px;border: none;
border-radius: 20px;width: 152px;margin-top: 20px;cursor: pointer;color: rgb(53, 50, 50);
}



/* header */
@media screen and (width<600px) {

  
  .nav_p{padding-right: 4px;}


}


.header-main{background-color:rgb(19, 25, 33);display:flex;justify-content: space-between;align-items: center;
width: 99vw ;padding: 5px;flex-wrap: wrap;align-content: center;row-gap: 10px;}

.header-left{display: flex;justify-content: center;padding-right: 25px;}

.header-logo{width:80px; cursor: pointer;height: 30px;padding:5px;transition: border 0.15s;
border: solid rgb(19, 25, 33) 1px;}
.header-logo:hover{border-color: white;}

.header-middle{flex:1;display: flex;align-items: center;max-width: 600px;padding-right: 5px;}
.header-middle-search{flex:1;
  height: 28px;width:250px;border-radius: 2px;border: none;
}


.header-middle-search-button{background-color:rgb(254, 189, 105);margin-left:-37px ;border: none;border-top-right-radius:2px;
border-bottom-right-radius:2px; cursor: pointer;}
.header-middle-search-button-img{width:15px;padding: 5px;}

.header-right{display: flex;align-items: center;justify-content: space-between;align-content: space-between;column-gap: 5px;}


.header-right-login{cursor: pointer;transition:border 0.15s;height: 25px;padding: 5px;transition: border 0.15s;
border: solid rgb(19, 25, 33) 1px;}
.header-right-login:hover{border-color: white;}

.header-right-div2{display: flex;align-items: center;cursor: pointer;
  padding:5px;transition: border 0.15s;
border: solid rgb(19, 25, 33) 1px;padding-right: 30px;
}
.header-right-div2:hover{border-color: white;}
.header-right-div2-img{width: 40px;}

.header-right-div1{position: relative;margin-right: 10px;cursor: pointer;transition:border 1s;height: 30px;padding: 5px;transition: border 0.15s;
border: solid rgb(19, 25, 33) 1px;}
.header-right-div1:hover{border-color: white;}
.header-right-div1-p1{position: absolute;top:-10px;left:5px;font-size: 13px;}
.header-right-div1-p2{font-size: 13px;font-weight: bold;}

.header-right-div2-img-p{position:relative;}
.cart-quantity{position: absolute;left: 18px;top:-8px;color: rgb(240, 136, 4);font-weight: bold;font-size: 11px;}
.header-right-div2-p{font-weight: bold;font-size: 15px;}
/* header */




/* header2 */

.navbar_container{background-color:rgb(29, 39, 53);
display:flex;justify-content: left;padding: 5px;
flex-wrap: wrap;width: 99vw;




}
.icon_div{display: flex;align-items: center;padding-left:5px ;}
.all_p{color: white;font-size: 14px;
cursor: pointer;font-weight: 700;}



.rufus{background-color: white;
border-radius: 30px;
height:22px;
width: 60px;
margin-top:15px ;
margin-bottom: 10px;
margin-left: 11px;
display: flex;
align-items: center;
}
.rufus_p{color: black;font-size:14px;
font-weight: 700;font-family: Roboto;
padding-left: 15px;
padding-right: 6px;
justify-content: center;

}

.nav_p{font-family: Roboto;
cursor: pointer;
font-size: 14px;
height: 12px;
font-weight: 400;
text-decoration-style: solid ;
}

.nav_p_div{padding-left:2px;
  
  margin-left:13px ;

  align-content: center;
transition: border 0.15s;
border: solid rgb(29, 39, 53) 1px;

}
.nav_p_div:hover{border-color: white;border-radius: 3px;
}



/* header2 */








.location{display:grid ;grid-template-columns:25% 75%;cursor: pointer;transition: border 0.15s;
border: solid rgb(19, 25, 33) 1px;}
.location:hover{border-color: white;}
.location-a1{color: rgb(204, 204, 204);font-size: 12px;font-family: Roboto;}
.location-a2{color:white;font-size: 14px;font-family: Roboto;font-weight: 700;line-height: -10px;}
.location_logo{margin-top: 15px;}
.marginLogo{margin-right: 10px;}
.nav_p_div_container{display: flex;align-items: center;
justify-content: space-between
}

.all_p_button{background-color: transparent;border: none;}
.DensityMediumIcon{cursor: pointer;}

.sideBar_header{color: rgb(17, 17, 17);font-family: Roboto;font-size: 18px;font-weight: 700;}
.sideBar_hello{display:flex;align-items: center;background-color:rgb(29, 39, 53);position: relative;}
.sideBar_hello_p{color: rgb(255, 255, 255);cursor: pointer;font-family: Roboto;font-size: 19px;font-weight: 700;}
.sideBar_hello_icon{cursor: pointer;margin-right: 10px;margin-left:2px;height: max-content;}
.arrow{margin-left: 100px;}
.ListItemText1{color:rgb(17, 17, 17);cursor: pointer;font-size: 14px;font-family: Roboto;}
.closeIcon{position: absolute;right:1px;top:1px;border: solid white 1px;padding: 2px;cursor: pointer;}
.header-right-login_flag{width:20px;margin-right: 6px;}

.added_to_cart_p{font-family: Roboto;color: rgb(6, 125, 98);
font-size: 16px;}
.added_to_cart_img{width: 20px;height: 20px;margin-right: 5px;}
.added_to_cart_div{display: flex;align-items: center;}
.aadedToCart_div{height: 30px;}