@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.order_nav{background-color: rgb(19, 25, 33);display: flex;justify-content: space-between;align-items: center;height: 60px;}
.order_logo{width: 105px;}
.order_nav_bottom{font-size: 28px;font-weight: 400;font-family: Roboto;color: white;}
.right_header_order{display: flex;align-items: center;margin-right:20px;padding:5px;transition: border 0.15s;}
.right_header_order:hover{border: solid white 1px;}
.header-right-div2-p1{font-size: 14px;font-weight: 700;font-family: Roboto;}
.image_div_order{padding: 5px;margin-left: 20px;padding-top: 10px;transition: border 0.15s; }
.image_div_order:hover{border: solid white 1px;}
.order_container{display: grid;grid-template-columns: 62% 38% ;
padding-left: 20px;padding-right:20px ;padding-top:10px;background-color: rgb(245, 242, 242);

}
.order_container_left_p1{color:rgb(15, 17, 17);font-family:Roboto;
font-size: 18px;font-weight:700;line-height: 24px;}
.order_container_left_B1{border: none;border-radius: 20px;background-color: rgb(255, 216, 20);
padding:4px;padding-left: 12px;padding-right: 12px;color: rgb(15, 17, 17);
font-size: 12px;cursor: pointer;font-weight: 500;
line-height: 25px;width:180px;}
.order_container_left_B1:hover{background-color: rgb(241, 206, 27) ;}
.order_container_left_p2{color: rgb(15, 17, 17);font-size: 12px;font-family: Roboto;
line-height: 16px;}
.order_container_right_p2{color:black;font-size: 12px;font-family: Roboto;
line-height: 16px;}
.order_container_right_p3{color:rgb(15, 17, 17);font-size: 18px;font-family: Roboto;
line-height: 16px;font-weight: 700;line-height: 24px;}
.span_p2{color: rgb(33, 98, 161); font-family: Roboto;cursor: pointer;
font-size: 12px;line-height: 16px;}
.margin_div_order{background-color: white;margin-bottom:20px;padding: 20px;}
.order_container_right_top{border-bottom: solid rgb(187, 186, 186) 1px; padding:20px ;}
.order_container_right_hor{display: grid;grid-template-columns:80% 20% ;margin-bottom:-15px;}
.order_container_right{background-color: white;padding:20px;
margin-left: 20px;height:200px ;}
.order_container_right_B1{border-radius: 20px;background-color:  rgb(241, 225, 238);
padding:4px;padding-left: 12px;padding-right: 12px;color:rgb(111, 115, 115);
font-size: 12px;cursor: pointer;font-weight: 500;border:solid rgb(255, 237, 148) 1px ;
line-height: 25px;width:400px;}
.span_margin_left_order{margin-left: 50px;}

.modalBox{position:absolute;top: 50%;
  left: 50%;transform: translate(-50%, -50%);
  width:600px;box-Shadow: 24;
background-color: white;
border-radius: 8px;
height: auto;
padding-top: 320px;


}
.modalBox_Row1{position: relative;
background-color: rgb(240, 242, 242);
height: 50px;margin-top: -11px;
border-bottom: rgb(213, 217, 217);

}
.modalBox_R1_p1{
font-family: Roboto;
font-size: 16px;
font-weight: 700;
color:rgb(15, 17, 17);
line-height: 24px;
margin-left: 20px;
}
.modalBox_R1_icon{position: absolute;
top:0px;right: 10px;cursor: pointer;}
.modalBox_R1_icon:hover{opacity: 0.6;}

.modalBody{padding-left:20px;padding-right: 20px;}
.modalBox_R2_p1{
font-family: Roboto;
font-size: 24px;
font-weight: 700;
color:rgb(15, 17, 17);
line-height: 24px;
margin-left: 20px;
}
.modalBox_R2_p2{
font-family: Roboto;
font-size: 14px;
font-weight: 700;
color:rgb(15, 17, 17);
line-height: 20px;
margin-left: 20px;
margin-left: 80px;
}
.delivery_p{font-family: Roboto;color: rgb(15, 17, 17);
font-size: 12px;}
.modalBox_R2_horizontal{display: flex;justify-content: space-between;
align-items: center;
border: solid  rgb(104, 241, 241) 1px ;
background-color: rgb(223, 240, 240);
padding: 10px;border-radius: 8px;
}
.Autofill_button{color: rgb(44, 48, 48);font-family: Roboto;
cursor: pointer;font-weight: 400;
border: solid rgb(104, 109, 109) 1px;
font-size: 13px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
border-radius: 12px;
margin-right: 10px;}

.order_label_1{
font-family: Roboto;
font-size: 14px;
font-weight: 700;
color:rgb(15, 17, 17);
line-height: 20px;

display: block;

}
.order_form{margin-top: 15px;margin-bottom: 15px;}
.select_order{width: 480px;height: 30px;
border-radius: 8px;
border: solid rgb(187, 183, 183) 1px;
background-color:rgb(240, 235, 235) ;

}
.order_input_1{width: 480px;height: 35px;
border-radius: 4px;
border: solid gray 1px;
}
.order_input_2{width: 480px;height: 35px;
border-radius: 4px;
border: solid gray 1px;
margin-top: 12px;
}
.form_repetition{margin-top: 15px;}

.label_checkBox{color: rgb(15, 17, 17);font-size: 14px;
font-family: Roboto;}
.order_form_b1{border: none;border-radius: 20px;background-color: rgb(255, 216, 20);
padding:4px;padding-left: 12px;padding-right: 12px;color: rgb(15, 17, 17);
font-size: 12px;cursor: pointer;font-weight: 500;
line-height: 25px;width:180px;display: block;}