#product-img{width: 100px;height: 100px;}
#product-stars{width: 80px;height: 20px;}
.input1{width:1000px;height: 50px;margin-top: 5px;}
.input11{width:330px;height: 50px;margin-top: 5px;}
.b1{cursor: pointer;width: 100px;height: 30px;margin-top: 10px;}
.button1{margin-top: 15px;width:100px ;}
